<ion-view title="Comentarios">
    <ion-content overflow-scroll="true" padding="true" class="has-header has-footer">
        <div>
            <div class="bar bar-header bar-positive">
                <button class="button button-icon icon ion-android-close"></button>
                <h1 class="title">Nuevo Comentario</h1>
                <button class="button button-icon icon ion-checkmark"></button>
            </div>
        </div>
        <div class="spacer" style="width: 283px; height: 56px;"></div>
        <form class="list"></form>
        <ion-list></ion-list>
        <div>
            <div class="bar bar-footer bar-inset">


                <div class="col-85 item-input-wrapper" style="resize: none;background-color:#FFFFFF">
                    <label class="item-input-wrapper" style="background-color:#FFFFFF;">
                        <textarea class="item-input" placeholder="Comentario" rows="2" cols="10" style="resize: none;background-color:#FFFFFF;width:100%"></textarea>
                    </label>
                </div>
                <div class="col-15">

                </div>
            </div>
        </div>
        <div>
            <div class="list">
                <div class="item card">
                    <h2>Nombre</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class="row">
                        <div class="col-75"></div>
                        <div class="col-25">
                            <div class="button-bar">
                                <button class="button button-clear button-dark button-large">
                                    <i class="ion-heart"></i>
                                    1
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ion-list></ion-list>
    </ion-content>
</ion-view>