<ion-view title="Login" hide-nav-bar="true">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header has-footer">
        <div class="button-bar"></div>
        <form class="list">
            <div style="text-align:center;">
                <img src="img/o8xzE7WgThCTgn1y11Jm_LOGO-ROBOT-RECOGE-BASURA.png" width="50%" height="auto">
            </div>
            <label class="item item-input">
                <input type="text" placeholder="Usuario" ng-model="username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Contraseña" ng-model="password">
            </label>
        </form>
        <div class="button-bar">
            <a id="login-button7" class="button button-stable  button-block icon-left ion-log-in" ng-click="login(username,password)">Iniciar</a>
            <a ui-sref="registrar" id="login-button8" class="button button-dark  button-block icon-left ion-android-add-circle">Registrarse</a>
        </div>
        <a ui-sref="recursos" id="login-button3" class="button button-positive  button-block icon-left ion-social-facebook">Iniciar con Facebook</a>
    </ion-content>
</ion-view>