<ion-view title="Recurso Detalle">
    <ion-content overflow-scroll="true" padding="true" class="has-header has-footer">
        <div class="spacer" style="width: 283px; height: 53px;"></div>
        <div class="list card">
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-thumbnail-left" ui-sref="menu.recurso">
                        <img>
                        <h2>Stat up whit ionic</h2>
                        <p>Como empezar con ionic</p>
                    </ion-item>
                </ion-list>
                <div>
                    <div class="button-bar">
                        <button class="button button-clear button-positive">
                            <i class="ion-heart"></i>
                            1
                        </button>
                        <button class="button button-clear button-positive">
                            <i class="ion-chatboxes"></i>
                            1
                        </button>
                        <button class="button button-clear button-positive">
                            <i class="ion-android-share-alt"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Enlaces</div>
            <div class="item item-body">
                <div>
                    <div class="list">

                        <div class="item item-icon-left item-button-right">
                            <i class="icon ion-link icon-large"></i>
                            www.git.com
                            <button class="button button-clear button-assertive button-large">
                                <i class="icon ion-ios-minus"></i>
                            </button>
                        </div>
                        <div class="item item-icon-left item-button-right">
                            <i class="icon ion-link icon-large"></i>
                            www.go.com
                            <button class="button button-clear button-assertive button-large">
                                <i class="icon ion-ios-minus"></i>
                            </button>
                        </div>
                        <div class="item item-icon-left item-button-right">
                            <i class="icon ion-link icon-large"></i>
                            www.ionic.com
                            <button class="button button-clear button-assertive button-large">
                                <i class="icon ion-ios-minus"></i>
                            </button>
                        </div>

                    </div>
                </div>
                <div>
                    <div class="bar bar-footer bar-inset" style="height:60px">
                        <label class="item item-input " style="height:50px;width:100%;">
                            <i class="icon icon-large placeholder-icon ion-link"></i>
                            <input type="text" placeholder="Nuevo Recurso">
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <form class="list"></form>
        <div>
            <div class="bar bar-header bar-positive">
                <button class="button button-icon icon ion-android-close"></button>
                <h1 class="title">Nuevo Recurso</h1>
                <button class="button button-icon icon ion-checkmark"></button>
            </div>
        </div>
    </ion-content>
</ion-view>