<ion-view title="Recurso">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <div class="bar bar-header bar-positive">
                <button class="button button-small button-icon">
                    <i class="icon icon-small ion-ios-arrow-back"></i>
                </button>
                <h1 class="title">Agregar Etiqueta</h1>
                <button class="button button-small button-icon">
                    <i class="icon icon-small ion-pricetag"></i>
                </button>
            </div>
        </div>
        <div class="spacer" style="width: 283px; height: 54px;"></div>
        <div class="list card">
            <div class="item item-body">
                <form class="list">
                    <label class="item item-input">
                        <input type="text" placeholder="Título">
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="URL">
                    </label>
                    <div class="spacer" style="width: 251px; height: 11px;"></div>
                    <div>
                        <label class="item item-input">
                            <textarea type="text" placeholder="Descripción"></textarea>
                        </label>
                    </div>
                </form>
            </div>
        </div>
        <div class="button-bar"></div>
        <ion-list></ion-list>
        <div class="button-bar"></div>
        <form class="list"></form>
    </ion-content>
</ion-view>