<ion-header-bar align-title="center" class="bar-positive" ng-show="false">
    <button class="button button-icon icon ion-android-close"></button>
    <h1 class="title">Registrarse</h1>
    <button class="button button-icon icon ion-checkmark"></button>
</ion-header-bar>
<ion-view title="Registrar" hide-nav-bar="false" class="bar-positive">
    <ion-content overflow-scroll="true" padding="false" class="has-footer has-header">
        <div class="spacer" style="width: 303px; height: 45px;"></div>
        <form class="list">
            <label class="item item-input">
                <input type="text" placeholder="Usuario">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Contraseña">
            </label>
        </form>
    </ion-content>
</ion-view>