<ion-view title="Registrar">
    <ion-content overflow-scroll="true" padding="false" class="has-footer">
        <form class="list">
            <h2>Registrarse</h2>
            <div>
                <div class="bar bar-header bar-positive">
                    <button class="button button-icon icon ion-android-close"></button>
                    <h1 class="title">Registrarse</h1>
                    <button class="button button-icon icon ion-checkmark"></button>
                </div>
            </div>
            <div class="spacer" style="width: 303px; height: 26px;"></div>
            <label class="item item-input">
                <input type="text" placeholder="Usuario">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Contraseña">
            </label>
        </form>
    </ion-content>
</ion-view>